export default [
    { Comment: 'Base Settings'},
    { UserAgent: '*'},
    { Sitemap: (req) => `http://${ req.headers.host}/sitemap.xml`},
    { Host: ''},
    { CrawlDelay: 10},
    { Comment: 'Permissions'},
    { Disallow: ''},
    { Allow : '*'},
    { CleanParam : 'ref /some_dir/get_book.pl'},
]

